body, html {
    height: 100%;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}


.nav {
  background: rgba(108,117,125, .70);
}

.nav a:hover {
  color: #000;
}

.nav a {
  color: white;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  transition: opacity 150ms ease-in-out;
}

#hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./city-view.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

h1 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-family: 'Exo', sans-serif;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.roundImg {
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 30px;
}

.featurette {
  overflow: hidden;
}

.featurette-divider {
  margin: 80px 0;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.projectGif {
  margin-left: 10em;
  width: 520px;
  height: 340px;
}

.pull-left {
  float: left;
}

.round {
  border-radius: 1.875rem;
}


img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

.featurette-heading {
  font-size: 50px;
  line-height: 1;
  letter-spacing: -1px;
}

#testVid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
}

#testVid video {
  transform: translateX(50%) translateY(50%);
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 0;
  height: auto;
  min-width: 100%;
  min-height: 10%;
  overflow: hidden;
}


.cursor {
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: anim .5s infinite alternate;
  pointer-events: none;
}

.cursor::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  border: 8px solid blueviolet;
  border-radius: 50%;
  opacity: .8;
  top: -8px;
  left: -8px;
  animation: anim2 .5s infinite alternate;
}

@keyframes anim {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(.5);
  }
}

@keyframes anim2 {
   from {
       transform: scale(1);
   }
   to {
       transform: scale(.5);
   }
}

/* For phones */

@media only screen and (max-width: 875px) {
  
#thirdPara {
  text-align: center;
}

}